<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>シンプル家計簿</h1>
        <a href="" class="btn btn-success btn-lg">はじめる</a>
      </div>
    </div>
  </div>
<% end %>